<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        Emelj a szinten
                        Copyright &copy;
                        {{ env.year }}
                        minden jog fenntartva | Az oldal a
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        sablon alapján készült.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
