<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        todo
                        Copyright &copy;
                        {{ env.year }}
                        All rights reserved | This template is made with
                        <i class="icon-heart text-danger" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
