
<header class="masthead" {% if headerImage %} style="background-image: url('{{ headerImage }}')"{% endif %}>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ title }}</h1>
                    {%- if description %}
                        <h2 class="subheading">{{ description }}</h2>
                    {%- endif %}

                    {%- if hideMetaData %}
                        <span class="meta">
                            Posted by
                                <a href="#!">{{ author }}</a>
                        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
                    </span>
                        <ul>
                            {%- for tag in tags | filterTagList -%}
                                {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                                <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
                                <li></li>
                            {%- endfor %}
                        </ul>
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
</header>
