<header>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-side-menu-toggle">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
                </span>
            </div>
        </div>
        <div class="site-mobile-menu-body">

            <ul class="site-nav-wrap">
                {%- for entry in collections.all | eleventyNavigation %}
                    <li class="{% if entry.url == page.url %}active{% endif %}">
                        <a class="nav-link text-left" href="{{ entry.url | url }}">{{ entry.title }}</a>
                    </li>
                {%- endfor %}
            </ul>

        </div>
    </div>

    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 d-flex">
                    <a href="/" class="site-logo">Emelj a szinten</a>
                    <a  href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-side-menu-toggle text-black"><span class="icon-menu h3">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-bars fa-w-14 fa-lg"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg>
                    </span></a>
                </div>
                {# todo #}
                {#<div class="col-12 col-lg-6 ml-auto d-flex">
                    <div class="ml-md-auto top-social d-none d-lg-inline-block">
                        <a href="#" class="d-inline-block p-3"
                        ><span class="icon-facebook"></span
                            ></a>
                        <a href="#" class="d-inline-block p-3"
                        ><span class="icon-twitter"></span
                            ></a>
                        <a href="#" class="d-inline-block p-3"
                        ><span class="icon-instagram"></span
                            ></a>
                    </div>
                </div>#}
                <div class="col-6 d-block d-lg-none text-right"></div>
            </div>
        </div>
        <div class="sticky-wrapper">
        <div
                class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block"
                role="banner"
        >
            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <nav
                                class="site-navigation position-relative text-right"
                                role="navigation"
                        >
                            <ul
                                    class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block"
                            >
                                {%- for entry in collections.all | eleventyNavigation %}
                                    <li class="{% if entry.url == page.url %}active{% endif %}">
                                        <a class="nav-link text-left" href="{{ entry.url | url }}"
                                        >{{ entry.title }}</a
                                        >
                                    </li>
                                {%- endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    {% if isIndex == true%}
        {% include "post-list-carousel.njk" %}
    {% endif %}
</header>
