<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml"
          title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json"
          title="{{ metadata.title }}">
    <link rel="icon" href="/img/favicon.ico">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" integrity="sha256-etrwgFLGpqD4oNAFW08ZH9Bzif5ByXK2lXNHKy7LQGo=" crossorigin="anonymous">

    <link rel="preconnect" href="https://cdn.jsdelivr.net/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <meta name="apple-mobile-web-app-status-bar-style" content="white">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0" >

<div class="site-wrap">

<!-- Navigation-->


{% include "navigation.njk" %}

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <div class="site-section">
        <div class="container">

            {% if templateClass == 'tmpl-post'%}
                {{ content | safe }}
            {% else %}
                <div class="row">
                    <div class="main-content col-lg-9">

                        <div class="section-title">
                            <h2>{{ title }}</h2>
                        </div>

                        {{ content | safe }}
                    </div>
                    <div class="col-lg-3">
                        {% include "post-list-heighlight.njk" %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</main>

{% include "footer.njk" %}

<!-- Current page: {{ page.url | url }} -->
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" integrity="sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</html>
