---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ content | safe }}
            </div>
        </div>
    </div>
</article>

<div class="container px-4 px-lg-5">
{%- if collections.posts %}
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
        <hr>
        <ul class='list-unstyled post-jump'>
            <li>
                {%- if nextPost %}
                    <span class='post-jump-label text-muted'>Next</span>
                    <a href="{{ nextPost.url | url }}">« {{ nextPost.data.title }}</a>
                {% endif %}
            </li>
            <li>
                {%- if previousPost %}
                    <span class='post-jump-label  text-muted'>Previous</span>
                    <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}  »</a>
                {% endif %}
            </li>
        </ul>
    {%- endif %}
{%- endif %}

</div>
