---
layout: layouts/home.njk
eleventyNavigation:
    key: Home
    order: 1
title: Latest posts
isIndex: true
---
{% set maxPosts = collections.posts.length | min(3) %}

{% set showMetaData = false %}
{#        <p>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</p>#}

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "post-list.njk" %}


<p><a class="more" href="{{ '/posts/' | url }}">More posts can be found in the archive</a></p>
